@media print {
    @page {
        size: 5.8in 6in;
        margin: 0;
    }

    body {
        margin-left: 6mm;
        margin-right: 2mm;
        margin-top: 2mm;
        margin-bottom: 2mm;
    }
}

.label-wrapper {
    width: calc(4in - 4mm);
    min-height: calc(6in - 4mm);
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 4mm;
}

.row {
    display: flex;
    border-bottom: 2px solid #000;
}

.col {
    padding: 4px;
    box-sizing: border-box;
}

.border-right {
    border-right: 2px solid #000;
}

.header-left { width: 55%; font-size: 12px; text-align:center; }
.header-right { width: 45%; display:flex; justify-content:center; align-items:center; }

.brand-title { font-size: 16px; font-weight: 900; }

.order-meta { width: 55%; font-size: 12px; font-weight: bold; }
.top-barcode { width: 45%; text-align:center; }

.recipient-box { width: 55%; font-size: 13px; }
.recipient-name { font-size: 15px; font-weight: bold; }

.side-box { width: 45%; display:flex; flex-direction:column; }

.fragile-row { display:flex; border-bottom:2px solid #000; height:60px; }
.fragile-col { width:60%; display:flex; align-items:center; }
.payment-status-col { width:40%; display:flex; align-items:center; justify-content:center; }
.fragile-text {
    font-size: 12px;
    line-height: 1.1;
    font-weight: bold;
}
.payment-label { font-size: 14px; font-weight: 900; }
.fragile-col img {
    width: 30px !important;
    height: 30px !important;
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
    flex-shrink: 0;
}
.courier-container {
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}

.courier-label { font-size: 26px; font-weight: 900; }

.tracking-barcode-row {
    justify-content:center;
    padding: 6px 0;
}

.tracking-barcode-wrapper {
    padding-left: 6mm;     /* 👈 MOST IMPORTANT */
    padding-right: 3mm;
}
.tracking-barcode-wrapper img {
    width: 88%;           /* never 100% */
    height: auto;
    display: block;
}

.tracking-barcode-row img {
    width: 92%;
    height: 55px;
    margin-left: 8px;
}

.customs-title {
    text-align:center;
    font-size: 11px;
    font-weight: bold;
    border-bottom:1px solid #000;
}

.items-table {
    width:100%;
    border-collapse:collapse;
    font-size: 10px;
}

.items-table th,
.items-table td {
    border:1px solid #000;
    padding: 4px;
    text-align:center;
    font-weight:bold;
}

.footer-section {
    margin-top:auto;
}

.telugu-phrase {
    text-align:center;
    font-size: 14px;
}

.auto-disclaimer {
    text-align:center;
    font-size: 9px;
    border-top:2px solid #000;
    padding: 4px;
}
